[submodule "themes/lugo"]
	path = themes/lugo
	url = https://github.com/lukesmithxyz/lugo
[submodule "themes/personal-site"]
	path = themes/personal-site
	url = https://github.com/wisnuwiry/personal-site
[submodule "themes/hugo-dusk"]
	path = themes/hugo-dusk
	url = https://github.com/gyorb/hugo-dusk
[submodule "themes/hugo-redirect"]
	path = themes/hugo-redirect
	url = https://github.com/gcc42/hugo-redirect.git
