/* @import url("https://landchad.net/style.css"); */
/* @import url("https://cdn.simplecss.org/simple.min.css"); */
@import url ("https://raw.githubusercontent.com/zweifisch/vimwiki-assets/master/github.css");
body {
    background-color: rgb(12.5734%,16.1074%,23.4775%);
    background-image: url("https://git.mitchmarq42.xyz/mitch/dotfiles/raw/branch/main/.local/share/backgrounds/mojave_midnight.jpg");
    background-attachment: fixed;
    color: #f0f0f0;
    grid-template-columns: auto;
};


article {
    display: flex;
}
